@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

body {
    background-color: #0099;
}

main{
    background-color: #ffff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.add-form {
    display: flex;
    margin-bottom: 3rem;
    gap: 1rem;
    width: 100%;
}

input {
    width: 100%;
    flex: 1;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

button[type="submit"]{
    background-color: #0099;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

td{
    color: #333;
    font-weight: 600;

}

tr:nth-child(even) {
    background-color: #ebebeb;
}

select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ebebeb;
}

select:hover {
    background-color: #DDD;
}

.btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-action:nth-child(1){
    background-color: rgb(255, 10, 51);
    margin-right: 6px;
}

.btn-action:nth-child(2){
    background-color: rgb(245, 95, 9);
    margin-right: 6px;
}